#background{
    background: linear-gradient(0deg, rgba(216,219,212,1) 85%, rgba(1,150,136,1) 85%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#finestra-chat{
    height: 95%;
    width: 80%;
    
}

#aside-chat, #aside-profilo{
    background-color: rgb(234 234 234);
    height: 100%;
}

#chat{
    background-image: url(../img/mine.jpg);
    height: 80%;
}

#reciever, #sender, #scrivi, #notifiche{
    height: 10%;
}

#scrivi{
    background-color: rgb(243 238 234);
}

#scrivi i{
    font-size: larger;
    margin: 2rem 1rem;
}
#reciever i{
    font-size: larger;
    margin: 1rem;
}

img{
    width: 100%;
}

.pp{
    margin: 0.5rem 1rem;
}

#last-login{
    color: gray;
    font-size: small;
}

#notifiche{
    background-color: rgb(142 218 252);

}

/* #search-bar{
    height: 10%;
    
} */

button i{
    font-size: smaller;
}
#contatti{
    height: 70%;
}
/* .contatto{
    width: 100%;
} */

.fa-volume-xmark{
    padding: 1rem;
}

#testo-notifiche{
    font-size: small;
}

.inviato{
    margin-left: 80%;
    background-color: rgb(212 250 186);
}

.rcevuto{
    margin-right: 80%;
}